.colered-section {
  background-color: #ff4c68;
    color: white;
}
body{
  font-family: Montserrat;
}
.text{
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: Montserrat-black;


}
.nav-item{
  padding: 0 18px;
}
.container-fluid {
 padding-top: 3%;
 padding-bottom: 3%

}

 .download-button{
   margin: 5% 3% 5% 0;
 }

 .title-image {
   width: 21%;
   transform: rotate(+25deg);
   position: absolute;
   right: 25%;
 }

.navbar  {
  margin-bottom: 4.5rem;

}
#features{
  position: relative;
  background-color: #fff;
  padding: 7% 15%;


}
.feature-box{
  text-align: center;
  padding: 5%;


}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
p{
  color: grey;
}

h3{
  font-family: Montserrat-Bold;
  font-weight: bold;
}
.nav-link {
   font-size: 1.5rem;
   font-family: Montserrat-light;
}
.padding{
  padding: 3% 15%;
}

.navbar-brand{
  font-weight: bold;
  font-family: Ubuntu;
  font-size: 2.5 rem;
}
.btn btn-dark{
  margin-right: 3px;
}

/* testimonial section */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-family: Montserrat-bold;
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  text-align: center;
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}

.one{
  padding: 3% 2%;
}

@media (max-width:900px) {
  #title{
    text-align: center;
  }
  .title-image{
    transform: rotate(0);
    position: static;
    width:60%;
  }
}
#cta{
  text-align: center;
  font-family: Montserrat-bold;
  padding: 4% 15% 5% 15%;
}
/* footer-section */
#footer{
    text-align: center;
    padding: 50px;
}

.hit{
  font-size: 3rem;
}

.fa-brands{
  margin: 10px 10px;
}

.fa-solid{
  margin: 10px 10px;
}
